
nav {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 92px;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(53, 53, 59, 0.5);
  /* pointer-events: none; */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Apply styles for mobile and tablet devices */
@media (max-width: 990px) {
  li {
    padding-top: 20px;
  }
  #navbarSupportedContent {
    background: rgba(0, 0, 0, 0.7); /* Adjust alpha for transparency */
    backdrop-filter: blur(10px);
    border-radius: 10px; /* Optional: Add rounded corners */
    margin-top: 15px;
  }

}


/* Your rgba color can be applied to the nav's content */
.navbar-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search::placeholder {
  color: rgb(168, 160, 160);
  font-size: 17px;
  font-weight: bold;
}
input {
  background-color: #3C3F42 !important;
  border: none;
}

