/* Google font */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

section {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.first-section {
  height: 100vh;
  background-color: #35353B;
}
/* Style for the section */
.first-section {
  display: flex;
  align-items: center; /* Vertically center content */
}

/* Style for the container */
.first-section .container {
  width: 100%; /* Adjust width as needed */
}

/* Style for the columns */
.first-section .col {
  margin: auto;
}

/* Media query to adjust height when columns stack vertically */
@media (max-width: 767px) {
  .first-section {
    height: 100%; /* Set height to 100% when columns stack vertically */
  }
}


.about-section {
  height: 100vh;
  /* background-color: #30323B; */
  background-image: linear-gradient(to bottom, #2A2C35, #30323B);
  padding-bottom: 150px;
}


.contact-btn {
  color: #FEC96B;
  border-radius: 12px;
  background: none;
  font-size: 30px;
  border: solid 5px #FEC96B;
  padding-inline: 15px;
  padding-block: 3px;
  width: 230px;
  transition: width 0.5s ease-in-out, transform 0.5s ease-in-out, margin-left 0.5s ease-in-out; /* Transition properties */
  transition: 0.5s ease-in-out;
}

.contact-me:hover {
  box-shadow: 0px 0px 30px 10px rgba(254, 201, 107, 0.5);
  background-color: #FEC96B;
  color: #4a4d57;
  width: 270px;
  transform: translateX(-5px);
  margin-left: -5px;
  transition: width 0.5s ease-in-out, transform 0.5s ease-in-out, margin-left 0.5s ease-in-out; /* Transition properties */
  transition: 0.5s ease-in-out;
}

.submit-contact:active {
  background-color: #FEC96B;
  color: #4a4d57;
  transition: 0.3s ease-in-out;

}

.image-container {
  width: auto;
  position: relative;
  display: inline-block; /* Allow the container to fit the image dimensions */
}

.vertical-line {
  border-left: 3px solid #FEC96B;
  height: 27%;
  position: absolute;
  top: 48%;
  left: 90%;
}

.fa-brands-vessel {
  position: absolute;
  top: 80%;
  left: 86%;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  background-color: rgba(53, 53, 59, 0.5);
  padding: 15px 10px 15px 10px;
  width: 50px;
  transition: width 0.2s ease-in-out, transform 0.2s ease-in-out, margin-left 0.2s ease-in-out; /* Transition properties */
}

.fa-brands-vessel:hover {
  width: 70px; /* Change width on hover */
  transform: translateX(-5px); /* Translate to the left */
  margin-left: -5px; /* Adjust margin to maintain position */
}


.fa-brands {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 30px;
  transition: 0.3s ease-in-out;
}

.fa-brands:hover {
  font-size: 35px;
  transition: 0.2s ease-in-out;
}

.row {
  text-decoration: none;
}

.about-parag {
  font-size: 23px;
}

.col-skill {
  background-color: #3C3F42;
  height: 270px;
  width: 270px;
  border-radius: 25px;
  margin-inline: 10px;
}

.col-skill {
  transition: 0.5s ease-in-out;
  margin-top: 25px;
}

.col-skill:hover {
  background-color: #FEC96B;
  color: black;
  transition: 0.5s ease-in-out;
}

.main-image {
  width: 100%; /* Default width for .main-image */
}

.second-image {
  width: 75%;
}

/* Media query for screens up to 767px */
@media (max-width: 767px) {
  .h4-double {
    display: none; /* Hide elements with class .h4-double */
  }

  .main-image {
    width: 400px; /* Adjust the width for smaller screens */
  }

  .double-skill {
    margin-top: auto;
    margin-bottom: 50px;
  }
}
@media(max-width: 440px) {
  .main-image {
    width: 300px; /* Adjust the width for smaller screens */
  }
}
@media(max-width: 325px) {
  .main-image {
    width: 200px; /* Adjust the width for smaller screens */
  }
}

.education-section {
  height: 100vh;
  background-color: #3C3F42;
}

.lamp-ball {
  width: 40px;
  height: 40px;
  margin-left: 72%;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(254, 201, 107, 1) 100%, rgba(255, 255, 255, 0.2) 100%, rgba(254, 201, 107, 0) 100%);
  box-shadow: 0px 0px 30px 10px rgba(254, 201, 107, 0.5);
}

.ticket {
  position: relative;
  margin-left: 28px;
  width: 165px;
  height: 50px;
  padding: 20px;
  background-color: #4a4d57;
  color: white;
  border-radius: 10px;
}

.ticket::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 80%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #4a4d57 transparent transparent transparent;
}

.vessel-lamp-ball {
  width: 200px;
  height: 50px;
  margin-top: 5px;
  padding: 10px;
}

.vertical-line-under-lamp {
  border-right: 3px solid #FEC96B;
  margin-right: 16%;
}

.vessel-lamp-line {
  width: 200px;
  padding: 10px;
}


.experience-section {
  height: 100vh;
  /* background-color: #30323B; */
  background-image: linear-gradient(to bottom, #2A2C35, #30323B);
}

.paragraphe {
  padding-top: 72px;
}


@media(max-width: 515px) {
  .vertical-line-under-lamp {
    display: none;
  }

  .paragraphe {
    padding-top: 12px;
    border-left: 3px solid #FEC96B;
  }
}


.testimonial-section {
  height: 100%;
  background-color: #3C3F42;
  padding-bottom: 50px;
}

.contact-section {
  border-top: 3px solid #FEC96B;
  border-bottom: 3px solid #FEC96B;
}

input::placeholder {
  color: #939699 !important;
}
textarea::placeholder {
  color: #939699 !important;
}

input {
  background-color: #3C3F42 !important;
  color: #FEC96B !important;
}
textarea {
  background-color: #3C3F42 !important;
  color: #FEC96B !important;
}

.center-popup {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}


