<section class="first-section" style="padding-top: 120px">
  <div class="container">
    <div class="row h-100">
      <div class="col" style="margin: auto">
        <h2 class="d-flex">
          I'M
          <h1 class="px-2" style="font-size: 66px; color: #fec96b">
            Salah Lagrou
          </h1>
        </h2>
        <p style="font-size: 35px; padding-inline-start: 56px">
          Web developer & Java and C++ <br />programmer
        </p>
        <button class="contact-btn tn my-5">Contact Me</button>
      </div>
      <div class="col text-center">
        <div class="image-container">
          <img
            class="main-image"
            src="assets/images/Obanai_3.jpg"
            alt=""
            style="
              border-radius: 51px;
              box-shadow: 10px 10px 52px black;
            "
          />
          <div class="vertical-line"></div>
          <div style="
          position: absolute;
          top: 80%;
          left: 86%;
          border-radius: 25px;
          backdrop-filter: blur(10px);
          background-color: rgba(53, 53, 59, 0.5);
          padding: 15px 10px 15px 10px;">
            <a href="" class="row"
              ><i
                class="fa-brands fa-github"
                style=" color: white"
              ></i></a
            ><a href="" class="row"
              ><i
                class="fa-brands fa-instagram"
                style=" color: white"
              ></i></a
            ><a href="" class="row"
              ><i
                class="fa-brands fa-facebook"
                style=" top: 94%; left: 87%; color: white"
              ></i></a
            ><a href="" class="row"
              ><i
                class="fa-brands fa-whatsapp"
                style=" top: 102%; left: 87%; color: white"
              ></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-section" style="height: auto">
  <div class="container" style="padding-top: 150px">
    <h1 style="font-size: 50px; font-weight: bold">About</h1>
    <div class="row">
      <div class="col-1">
        <div style="border-top: 5px solid #fec96b; margin-top: 16px"></div>
      </div>
      <div class="col-10">
        <p class="about-parag">
          Hello! I am a passionate and skilled
          <strong style="color: #fec96b">full-stack web developer</strong>,
          proficient in <strong style="color: #fec96b">Java and C++</strong>.
          With a strong foundation in both front-end and back-end technologies,
          I bring creativity, precision, and efficiency to every project I
          undertake.
        </p>
      </div>
    </div>
    <h1 style="font-size: 50px; font-weight: bold; padding-top: 25px">
      What I Do
    </h1>
    <div class="row">
      <div class="col-1">
        <div style="border-top: 5px solid #fec96b; margin-top: 16px"></div>
      </div>
      <div class="col-10">
        <p class="about-parag">
          <strong style="color: #fec96b">Full-Stack Web Development</strong>
          <br />
          I excel in crafting end-to-end solutions, turning ideas into fully
          functional web applications. From designing engaging user interfaces
          to implementing robust server-side logic, I strive to create seamless
          and enjoyable user experiences. <br />
          <strong style="color: #fec96b">Java Development</strong> <br />
          As a seasoned Java developer, I am adept at leveraging this versatile
          language to build powerful, scalable applications. I specialize in
          developing efficient and maintainable code, ensuring top-notch
          performance and reliability. <br />
          <strong style="color: #fec96b">C++ Programming</strong> <br />
          With a deep understanding of C++, I can develop high-performance
          applications, particularly in system programming and
          performance-critical domains. My expertise in memory management and
          optimization allows for the creation of efficient and optimized
          solutions.
        </p>
      </div>
    </div>
  </div>
  <div class="container text-center" style="padding-top: 100px">
    <h1 style="font-size: 50px; font-weight: bold; padding-top: 25px">
      My Skills
    </h1>
    <div class="row justify-content-center">
      <div class="col col-skill skill">
        <img
          src="assets/images/Angular_full_color_logo.svg (1).png"
          alt=""
          style="height: 170px; padding-top: 25px"
        />
        <h4 class="py-4">Angular</h4>
      </div>
      <div class="col col-skill">
        <img
          src="assets/images/spring-boot-project-logo-1-thegem-blog-default-large.png"
          alt=""
          style="height: 200px; margin-bottom: -6px"
        />
        <h4>Spring Boot</h4>
      </div>
      <div class="col col-skill">
        <img
          src="assets/images/bootstrap.png"
          alt=""
          style="height: 170px; padding-top: 25px"
        />
        <h4 class="py-4">Bootstrap</h4>
      </div>

      <div class="col col-skill skill">
        <img
          src="assets/images/Laravel.png"
          alt=""
          style="height: 133px; margin-top: 41px; margin-bottom: -5px"
        />
        <h4 class="py-4">Laravel</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-skill">
        <img
          src="assets/images/PHP-logo.svg.png"
          alt=""
          style="height: 102px; margin-top: 51px; margin-bottom: 18px"
        />
        <h4 class="py-4">PHP</h4>
      </div>
      <div class="col col-skill">
        <div style="margin-top: 27px; margin-bottom: 9px; margin-left: -12px">
          <img
            src="assets/images/c_langage.png"
            alt=""
            style="height: 114px; margin: 10px 10px 10px 10px"
          />
          <img
            src="assets/images/ISO_C++_Logo.svg.png"
            alt=""
            style="height: 100px; margin: 10px 10px 10px 10px"
          />
        </div>

        <h4 class="py-4 h4-double">C and C++</h4>
      </div>

      <div class="col col-skill">
        <img
          src="assets/images/Java-Logo.png"
          alt=""
          style="height: 122px; margin-top: 38px; margin-bottom: 9px"
        />
        <h4 class="py-4">Java</h4>
      </div>
      <div class="col col-skill">
        <div style="margin-top: 35px; margin-bottom: 12px">
          <img
            src="assets/images/javascript.png"
            alt=""
            style="
              height: 100px;
              border-radius: 10px;
              margin: 10px 10px 10px 10px;
            "
          />
          <img
            src="assets/images/TypeScript_256.png"
            alt=""
            style="height: 100px; margin: 10px 10px 10px 10px"
          />
        </div>

        <h4 class="py-4 h4-double">Javascript and Typescrit</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-skill">
        <div style="margin-top: 18px; margin-bottom: 18px">
          <img
            src="assets/images/HTML5_logo_and_wordmark.svg.png"
            alt=""
            style="height: 111px; margin: 10px 10px 10px 10px"
          />
          <img
            src="assets/images/CSS3_logo_and_wordmark.svg.png"
            alt=""
            style="height: 111px; margin: 10px 10px 10px 10px"
          />
        </div>

        <h4 class="py-4 h4-double">HTML and CSS</h4>
      </div>
      <div class="col col-skill skill">
        <img
          src="assets/images/jwt-3.svg"
          alt=""
          style="height: 108px; margin-top: 40px; margin-bottom: 22px"
        />
        <h4 class="py-4">JWT</h4>
      </div>
      <div class="col col-skill skill">
        <img
          src="assets/images/Git_icon.svg.png"
          alt=""
          style="height: 120px; margin-top: 36px; margin-bottom: 12px"
        />
        <h4 class="py-4">Git</h4>
      </div>

      <div class="col col-skill">
        <div style="margin-top: 36px; margin-bottom: 9px">
          <img
            src="assets/images/GitHub-Mark.png"
            alt=""
            style="
              height: 100px;
              border-radius: 10px;
              margin: 10px 10px 10px 10px;
            "
          />
          <img
            src="assets/images/heroku.png"
            alt=""
            style="
              height: 100px;
              border-radius: 10px;
              margin: 10px 10px 10px 10px;
            "
          />
        </div>

        <h4 class="py-4 h4-double">Github and Heroku</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-skill skill">
        <img
          src="assets/images/mysql.png"
          alt=""
          style="height: 104px; margin-top: 40px; margin-bottom: 25px"
        />
        <h4 class="py-4">MySQL</h4>
      </div>
      <div class="col col-skill skill">
        <img
          src="assets/images/oracle.png"
          alt=""
          style="height: 72px; margin-top: 64px; margin-bottom: 29px"
        />
        <h4 class="py-4">Oracle</h4>
      </div>

      <div class="col col-skill skill">
        <img
          src="assets/images/UML_logo.svg.png"
          alt=""
          style="height: 170px; padding-top: 25px"
        />
        <h4 class="py-4">UML</h4>
      </div>
      <div class="col col-skill skill">
        <img
          src="assets/images/merise.png"
          alt=""
          style="height: 143px; margin-top: 35px; margin-bottom: -13px"
        />
        <h4 class="py-4">Merise</h4>
      </div>
    </div>
  </div>
</section>
