<section class="first-section" style="padding-top: 120px">
  <div class="container">
    <div class="row h-100">
      <div class="col" style="margin: auto">
        <h2 class="d-flex">
          I'M
          <h1 class="px-2" style="font-size: 66px; color: #fec96b">
            Salah-eddine Lagrou
          </h1>
        </h2>
        <p style="font-size: 35px; padding-inline-start: 56px">
          Full stack web developer <br />Software engineering
        </p>
        <a href="#contact" class="btn contact-btn contact-me tn my-5"
          >Contact Me</a
        >
      </div>
      <div class="col text-center">
        <div class="image-container">
          <img
            class="main-image"
            src="assets/images/Obanai_3.jpg"
            alt=""
            style="border-radius: 51px; box-shadow: 10px 10px 52px black"
          />
          <div class="vertical-line"></div>
          <div class="fa-brands-vessel">
            <a href="https://github.com/salah-eddine-lagrou" class="row"
              ><i class="fa-brands fa-github" style="color: white"></i></a
            ><a
              href="https://www.linkedin.com/in/salah-eddine-lagrou-2a9920239/"
              class="row"
              ><i class="fa-brands fa-linkedin" style="color: white"></i></a
            ><a
              href="https://www.instagram.com/salah_eddine_lagrou/"
              class="row"
              ><i
                class="fa-brands fa-instagram"
                style="top: 94%; left: 87%; color: white"
              ></i></a
            ><a
              href="https://api.whatsapp.com/send?phone=+212771998691"
              class="row"
              ><i
                class="fa-brands fa-whatsapp"
                style="top: 102%; left: 87%; color: white"
              ></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="about-section" style="height: auto">
  <div class="container" style="padding-top: 150px">
    <h1 style="font-size: 50px; font-weight: bold">About</h1>
    <div class="row">
      <div class="col-1">
        <div style="border-top: 5px solid #fec96b; margin-top: 16px"></div>
      </div>
      <div class="col-10">
        <p class="about-parag">
          Hello! I am a passionate and skilled
          <strong style="color: #fec96b">full-stack web developer</strong>,
          proficient in various technologies essential for modern web
          development. My expertise lies in crafting
          <strong style="color: #fec96b"
            >creative and efficient solutions</strong
          >
          across both the front-end and back-end. With a
          <strong style="color: #fec96b"
            >strong foundation in software engineering and computer
            science</strong
          >, I bring
          <strong style="color: #fec96b"
            >creativity, precision, and efficiency</strong
          >
          to every project I undertake.
        </p>
      </div>
    </div>
    <h1 style="font-size: 50px; font-weight: bold; padding-top: 25px">
      What I Do
    </h1>
    <div class="row">
      <div class="col-1">
        <div style="border-top: 5px solid #fec96b; margin-top: 16px"></div>
      </div>
      <div class="col-10">
        <p class="about-parag">
          <strong style="color: #fec96b">Full-Stack Web Development</strong>
          <br />
          I excel in crafting end-to-end solutions, turning ideas into fully
          functional web applications. From designing engaging user interfaces
          to implementing robust server-side logic, I strive to create seamless
          and enjoyable user experiences. <br />
          <strong class="py-2" style="color: #fec96b"
            >Software Engineering and Computer Science</strong
          >
          <br />
          As a Software Engineer with a strong foundation in Computer Science,
          I've honed my skills in developing robust, scalable applications. My
          understanding of algorithms, data structures, and software design
          principles allows me to craft efficient and maintainable code,
          ensuring optimal performance and reliability. My experience extends to
          various programming languages, including Java and C++, enabling me to
          tackle diverse projects and domains effectively. I continually strive
          to stay updated with emerging technologies, leveraging this knowledge
          to build innovative solutions and contribute to the ever-evolving
          field of software engineering.
          <!-- <strong style="color: #fec96b">Java Development</strong> <br />
          As a seasoned Java developer, I am adept at leveraging this versatile
          language to build powerful, scalable applications. I specialize in
          developing efficient and maintainable code, ensuring top-notch
          performance and reliability. <br />
          <strong style="color: #fec96b">C++ Programming</strong> <br />
          With a deep understanding of C++, I can develop high-performance
          applications, particularly in system programming and
          performance-critical domains. My expertise in memory management and
          optimization allows for the creation of efficient and optimized
          solutions. -->
        </p>
      </div>
    </div>
  </div>
  <div id="portfolio" class="container text-center" style="padding-top: 100px">
    <h1 style="font-size: 50px; font-weight: bold; padding-top: 25px">
      My Skills
    </h1>
    <div class="row justify-content-center">
      <div class="col col-skill skill">
        <img
          src="assets/images/Angular_full_color_logo.svg (1).png"
          alt=""
          style="height: 170px; padding-top: 25px"
        />
        <h4 class="py-4">Angular</h4>
      </div>
      <div class="col col-skill">
        <img
          src="assets/images/spring-boot-project-logo-1-thegem-blog-default-large.png"
          alt=""
          style="height: 200px; margin-bottom: -6px"
        />
        <h4>Spring Boot</h4>
      </div>
      <div class="col col-skill">
        <img
          src="assets/images/bootstrap.png"
          alt=""
          style="height: 170px; padding-top: 25px"
        />
        <h4 class="py-4">Bootstrap</h4>
      </div>

      <div class="col col-skill skill">
        <img
          src="assets/images/Laravel.png"
          alt=""
          style="height: 133px; margin-top: 41px; margin-bottom: -5px"
        />
        <h4 class="py-4">Laravel</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-skill">
        <img
          src="assets/images/PHP-logo.svg.png"
          alt=""
          style="height: 102px; margin-top: 51px; margin-bottom: 18px"
        />
        <h4 class="py-4">PHP</h4>
      </div>
      <div class="col col-skill">
        <div
          class="double-skill"
          style="margin-top: 27px; margin-bottom: 9px; margin-left: -12px"
        >
          <img
            src="assets/images/c_langage.png"
            alt=""
            style="height: 114px; margin: 10px 10px 10px 10px"
          />
          <img
            src="assets/images/ISO_C++_Logo.svg.png"
            alt=""
            style="height: 100px; margin: 10px 10px 10px 10px"
          />
        </div>

        <h4 class="py-4 h4-double">C and C++</h4>
      </div>

      <div class="col col-skill">
        <img
          src="assets/images/Java-Logo.png"
          alt=""
          style="height: 122px; margin-top: 38px; margin-bottom: 9px"
        />
        <h4 class="py-4">Java</h4>
      </div>
      <div class="col col-skill">
        <div class="double-skill" style="margin-top: 35px; margin-bottom: 12px">
          <img
            src="assets/images/javascript.png"
            alt=""
            style="
              height: 100px;
              border-radius: 10px;
              margin: 10px 10px 10px 10px;
            "
          />
          <img
            src="assets/images/TypeScript_256.png"
            alt=""
            style="height: 100px; margin: 10px 10px 10px 10px"
          />
        </div>

        <h4 class="py-4 h4-double">Javascript and Typescrit</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-skill">
        <div class="double-skill" style="margin-top: 18px; margin-bottom: 18px">
          <img
            src="assets/images/HTML5_logo_and_wordmark.svg.png"
            alt=""
            style="height: 111px; margin: 10px 10px 10px 10px"
          />
          <img
            src="assets/images/CSS3_logo_and_wordmark.svg.png"
            alt=""
            style="height: 111px; margin: 10px 10px 10px 10px"
          />
        </div>

        <h4 class="py-4 h4-double">HTML and CSS</h4>
      </div>
      <div class="col col-skill skill">
        <img
          src="assets/images/jwt-3.svg"
          alt=""
          style="height: 108px; margin-top: 40px; margin-bottom: 22px"
        />
        <h4 class="py-4">JWT</h4>
      </div>
      <div class="col col-skill skill">
        <img
          src="assets/images/Git_icon.svg.png"
          alt=""
          style="height: 120px; margin-top: 36px; margin-bottom: 12px"
        />
        <h4 class="py-4">Git</h4>
      </div>

      <div class="col col-skill">
        <div class="double-skill" style="margin-top: 36px; margin-bottom: 9px">
          <img
            src="assets/images/GitHub-Mark.png"
            alt=""
            style="
              height: 100px;
              border-radius: 10px;
              margin: 10px 10px 10px 10px;
            "
          />
          <img
            src="assets/images/heroku.png"
            alt=""
            style="
              height: 100px;
              border-radius: 10px;
              margin: 10px 10px 10px 10px;
            "
          />
        </div>

        <h4 class="py-4 h4-double">Github and Heroku</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-skill skill">
        <img
          src="assets/images/mysql.png"
          alt=""
          style="height: 104px; margin-top: 40px; margin-bottom: 25px"
        />
        <h4 class="py-4">MySQL</h4>
      </div>
      <div class="col col-skill skill">
        <img
          src="assets/images/oracle.png"
          alt=""
          style="height: 72px; margin-top: 64px; margin-bottom: 29px"
        />
        <h4 class="py-4">Oracle</h4>
      </div>

      <div class="col col-skill skill">
        <img
          src="assets/images/UML_logo.svg.png"
          alt=""
          style="height: 170px; padding-top: 25px"
        />
        <h4 class="py-4">UML</h4>
      </div>
      <div class="col col-skill skill">
        <img
          src="assets/images/merise.png"
          alt=""
          style="height: 143px; margin-top: 35px; margin-bottom: -13px"
        />
        <h4 class="py-4">Merise</h4>
      </div>
    </div>
  </div>
</section>

<!-- * TODO Work on the section of experience and modify this one of education -->
<section class="education-section" style="height: auto">
  <div class="container" style="padding-top: 150px">
    <h1 style="font-size: 50px; font-weight: bold">Education</h1>
    <div class="row py-5">
      <div class="col-2" style="width: 220px">
        <div class="w-auto" style="height: 100%">
          <div class="ticket text-center py-2">
            <h3>Currently</h3>
          </div>
          <div class="vessel-lamp-ball">
            <div class="lamp-ball"></div>
          </div>
          <div class="vessel-lamp-line h-75">
            <div class="vertical-line-under-lamp h-100"></div>
          </div>
        </div>
      </div>
      <div class="col paragraphe" style="min-width: 295px">
        <p class="about-parag" style="color: rgb(212, 209, 209)">
          I am dedicated to advancing my education. Currently, I am diligently
          studying and preparing in parallel for my '<strong
            style="color: #fec96b"
            >Licence Bac+3 in Artificial Intelligence and Data
            Engineering</strong
          >' at the '<strong style="color: #fec96b"
            >Faculté des Sciences de l'Université Ibn-Tofail</strong
          >'. This pursuit is a testament to my commitment to staying at the
          forefront of cutting-edge technologies, particularly in the realm of
          Artificial Intelligence and Data Engineering. I am eager to bridge the
          gap between theory and practical application, leveraging my academic
          endeavors to enhance my contributions to the world of web development
          and beyond.
        </p>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-2" style="width: 220px">
        <div class="w-auto" style="height: 100%">
          <div class="ticket text-center py-2">
            <h3>2023</h3>
          </div>
          <div class="vessel-lamp-ball">
            <div class="lamp-ball"></div>
          </div>
          <div class="vessel-lamp-line h-75">
            <div class="vertical-line-under-lamp h-100"></div>
          </div>
        </div>
      </div>
      <div class="col paragraphe" style="min-width: 295px">
        <div class="about-parag" style="color: rgb(212, 209, 209)">
          <p>
            I obtained my Bac+2 degree (<strong style="color: #fec96b"
              >Diplôme Universitaire de Technologie - DUT</strong
            >) from the "<strong style="color: #fec96b"
              >Ecole Supérieure de Technologie Kenitra</strong
            >" as a
            <strong style="color: #fec96b"
              >Higher Technician in Computer Engineering</strong
            >. During this program, I acquired a solid understanding of various
            essential concepts, including:
          </p>
          <ul>
            <li>
              Proficiency in design methods and programming languages for
              <strong style="color: #fec96b"
                >software application development</strong
              >.
            </li>
            <li>
              Theoretical and practical knowledge covering the entire
              <strong style="color: #fec96b"
                >lifecycle of software applications</strong
              >.
            </li>
            <li>
              Expertise in the design, implementation, and management of
              <strong style="color: #fec96b">computer networks</strong>.
            </li>
            <li>
              In-depth understanding and hands-on experience in various areas,
              such as
              <strong style="color: #fec96b"
                >network setup and configuration</strong
              >,
              <strong style="color: #fec96b"
                >network administration and security</strong
              >, as well as
              <strong style="color: #fec96b"
                >telecommunications system analysis</strong
              >.
            </li>
          </ul>
          <p>
            These experiences have equipped me with a strong foundation in the
            field of
            <strong style="color: #fec96b">computer engineering</strong>,
            enabling me to approach new challenges with confidence and
            proficiency.
          </p>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-2" style="width: 220px">
        <div class="w-auto" style="height: 100%">
          <div class="ticket text-center py-2">
            <h3>2021</h3>
          </div>
          <div class="vessel-lamp-ball">
            <div class="lamp-ball"></div>
          </div>
          <div class="vessel-lamp-line h-75">
            <div class="vertical-line-under-lamp h-100"></div>
          </div>
        </div>
      </div>
      <div class="col paragraphe" style="min-width: 295px">
        <div class="about-parag" style="color: rgb(212, 209, 209)">
          I successfully completed my Baccalauréat in 2021 from '<strong
            style="color: #fec96b"
            >Lycée Al-Wifaq</strong
          >' with a focus on scientific studies, particularly in physics. Opting
          for the science track, I immersed myself in the intriguing realm of
          physics. I proudly achieved a '<strong style="color: #fec96b"
            >mention Bien</strong
          >' (distinction), reflecting my dedication and hard work during my
          years in high school. This educational journey laid a robust
          foundation for my subsequent academic and professional pursuits,
          nurturing my passion for science and fostering critical thinking
          skills.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="experience-section" style="height: auto">
  <div class="container" style="padding-top: 150px">
    <h1 style="font-size: 50px; font-weight: bold">Experince</h1>
    <div class="row py-5">
      <div class="col-2" style="width: 220px">
        <div class="w-auto" style="height: 100%">
          <div class="ticket text-center py-2">
            <h3>2023</h3>
          </div>
          <div class="vessel-lamp-ball">
            <div class="lamp-ball"></div>
          </div>
          <div class="vessel-lamp-line h-75">
            <div class="vertical-line-under-lamp h-100"></div>
          </div>
        </div>
      </div>
      <div class="col paragraphe" style="min-width: 295px">
        <p class="about-parag" style="color: rgb(212, 209, 209)">
          I undertook a comprehensive
          <strong style="color: #fec96b">4-month internship</strong> with IT
          ADVISOR Développement, where I played a crucial role in the
          development of a web application for sharing recipes. This involved
          utilizing
          <strong style="color: #fec96b">Spring Boot and Angular</strong> to
          construct a microservices-based architecture with enhanced security
          measures, providing an invaluable opportunity to expand my skills in
          Full Stack Web Development.
        </p>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-2" style="width: 220px">
        <div class="w-auto" style="height: 100%">
          <div class="ticket text-center py-2">
            <h3>2022</h3>
          </div>
          <div class="vessel-lamp-ball">
            <div class="lamp-ball"></div>
          </div>
          <div class="vessel-lamp-line h-75">
            <div class="vertical-line-under-lamp h-100"></div>
          </div>
        </div>
      </div>
      <div class="col paragraphe" style="min-width: 295px">
        <div class="about-parag" style="color: rgb(212, 209, 209)">
          I engaged in a compelling
          <strong style="color: #fec96b">2-month internship</strong> focused on
          the development of a Java-based desktop application at INRA Kénitra.
          This experience was pivotal in my journey as a developer as I delved
          into the intricacies of creating a robust application for managing
          attendance, sharpening my skills in Java development and the nuances
          of desktop applications.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonial-section">
  <div class="container" style="padding-top: 150px">
    <h1 style="font-size: 50px; font-weight: bold">Testimonial</h1>
    <div class="row">
      <div class="col">
        <div class="row py-5">
          <div class="col-2">
            <div style="border-top: 5px solid #fec96b; margin-top: 16px"></div>
          </div>
          <div class="col-10">
            <p
              class="about-parag"
              style="color: rgb(212, 209, 209); padding-bottom: 15px"
            >
              Hello! I am a passionate and skilled
              <strong style="color: #fec96b">full-stack web developer</strong>,
              proficient in various technologies essential for modern web
              development. My expertise lies in crafting
              <strong style="color: #fec96b"
                >creative and efficient solutions</strong
              >
              across both the front-end and back-end. With a
              <strong style="color: #fec96b"
                >strong foundation in software engineering and computer
                science</strong
              >, I bring
              <strong style="color: #fec96b"
                >creativity, precision, and efficiency</strong
              >
              to every project I undertake.
            </p>
            <div class="name-testi-sec-vessel">
              <h4 class="name-testi-sec" style="font-size: 33px">
                Salah-eddine Lagrou
              </h4>
            </div>

            <div class="row">
              <div class="col-2">
                <div
                  style="border-top: 5px solid #fec96b; margin-top: 16px"
                ></div>
              </div>
              <div class="col-10">
                <p class="about-parag" style="color: rgb(212, 209, 209)">
                  Senior web developer
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col h-50"
        style="background-color: #fec96b; border-radius: 40px 0px 0px 40px"
      >
        <div class="container port-photo text-center">
          <div class="image-container text-center">
            <img
              class="main-image second-image"
              src="assets/images/Obanai_3.jpg"
              alt=""
              style="border-radius: 51px; box-shadow: 10px 10px 52px black"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="testimonial-section contact-section text-center">
  <h3
    style="
      font-size: 40px;
      font-weight: bold;
      margin-top: -30px;
      background-color: #3c3f42;
      width: 50%;
      margin-inline: auto;
    "
  >
    Contact me
  </h3>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 py-5 my-5">
        <div class="subscribe-header text-center pb-3">
          <h3 class="section-title text-uppercase">
            Explore More or Reach Out for Collaboration
          </h3>
        </div>
        <form
          [formGroup]="myForm"
          (ngSubmit)="sendContact()"
          id="form"
          class="d-flex flex-wrap gap-2"
        >
          <div class="container">
            <input
              type="text"
              name="from"
              [(ngModel)]="mail.from"
              formControlName="from"
              placeholder="Your Email Address"
              class="form-control form-control-lg"
            />
            <div
              class="alert alert-danger"
              *ngIf="myForm.get('from')?.invalid && myForm.get('from')?.touched"
            >
              Email is required with the email form
            </div>
            <div class="row" style="padding-top: 12px">
              <div class="col">
                <input
                  type="text"
                  name="firstname"
                  [(ngModel)]="mail.firstName"
                  formControlName="firstName"
                  placeholder="First Name"
                  class="form-control form-control-lg"
                />
                <div
                class="alert alert-danger"
                *ngIf="myForm.get('firstName')?.invalid && myForm.get('firstName')?.touched"
              >
                FirstName is required
              </div>
              </div>
              <div class="col">
                <input
                  type="text"
                  name="lastname"
                  [(ngModel)]="mail.lastName"
                  formControlName="lastName"
                  placeholder="Last Name"
                  class="form-control form-control-lg"
                />
                <div
                class="alert alert-danger"
                *ngIf="myForm.get('lastName')?.invalid && myForm.get('lastName')?.touched"
              >
                LastName is required
              </div>
              </div>
            </div>
            <textarea
              style="margin-top: 12px; height: 120px"
              type="text"
              name="body"
              [(ngModel)]="mail.body"
              formControlName="body"
              placeholder="Your body message here .."
              class="form-control form-control-lg"
            ></textarea>
            <div
                class="alert alert-danger"
                *ngIf="(myForm.get('body')?.invalid && !myForm.get('body')?.hasError('maxLengthExceeded')) && myForm.get('body')?.touched"
              >
                Body is required
              </div>
              <div class="alert alert-danger" *ngIf="myForm.get('body')?.hasError('maxLengthExceeded') && myForm.get('body')?.touched">
                Body exceeds maximum length of 500 characters.
              </div>

            <button
              class="contact-btn w-100 submit-contact"
              style="margin-top: 12px; font-size: 25px"
              type="submit"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
